@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Black.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-BlackItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Bold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-BoldItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Light.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Italic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-LightItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-SemiBold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-SemiBoldItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Thin.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FrauncesFont';
    src: url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-ThinItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/DharmicDeveloper/www.amanchourasia.in/main/Fraunces/Fraunces9ptSuperSoft-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

